> ### ðŸ—“ï¸ **Project Deadlines**
> - **November 21, December 2, December 4:** Presentations  
> - **December 8 (11:00 PM):** Final report submission  
>
> ---
>
> ### ðŸ§  **Brainstorming & Project Development**
> Dataset source: [UCI Heart Disease Dataset](https://archive.ics.uci.edu/dataset/45/heart+disease)
>
> ---
>
> ### ðŸ“Š **Dataset Information**
> - The database contains **76 attmributes**, but all published experiments use a **subset of 14**.  
> - The **Cleveland database** is the one most commonly used in ML research.  
> - The **goal** field indicates **heart disease presence**:
>   - `0` = no disease  
>   - `1, 2, 3, 4` = disease present  
> - Most studies simplify this into **binary classification**:  
>   - 0 â†’ No Heart Disease  
>   - 1 â†’ Heart Disease Present  
> - Personally identifiable information (like names/SSNs) has been **removed** and replaced with dummy values.  
> - The **"processed" file** corresponds to the **Cleveland dataset**, which weâ€™ll use.  
>
> ---
>
> > ### ðŸ§¹ **Data Cleaning Plan**
>
> #### 1ï¸âƒ£ Replace or Drop Missing Values
> - In this dataset, missing values are represented by `?`.  
> - Weâ€™ll replace them with `NaN` and decide whether to drop or impute them later.  
>   ```python
>   df.replace('?', pd.NA, inplace=True)
>   df = df.dropna()
>   ```
>   ðŸ§  *Ensures all numeric data is valid before processing.*
>
> ---
>
> #### 2ï¸âƒ£ Convert All Columns to Correct Data Types
> - After replacing `?`, columns may still be stored as `object`.  
>   ```python
>   df = df.apply(pd.to_numeric)
>   ```
>   ðŸ§  *Allows models and numerical operations to work correctly.*
>
> ---
>
> #### 3ï¸âƒ£ Simplify the Target Variable
> - The `target` column values range from 0â€“4.  
> - Convert to a **binary classification**:  
>   ```python
>   df['target'] = df['target'].apply(lambda x: 1 if x > 0 else 0)
>   ```
>   ðŸ§  *Groups all levels of heart disease into a single â€œdisease presentâ€ category.*
>
> ---
>
> #### 4ï¸âƒ£ Check for Duplicate Records
> - Remove duplicates to prevent bias.  
>   ```python
>   df = df.drop_duplicates()
>   ```
>
> ---
>
> #### 5ï¸âƒ£ Detect Outliers or Unrealistic Values
> - Use summary stats or boxplots to spot extreme values (e.g., cholesterol = 0).  
>   ```python
>   df.describe()
>   ```
>   ðŸ§  *Outliers may affect model accuracy â€” decide to clip or scale later.*
>
> ---
>
> #### 6ï¸âƒ£ Feature Scaling / Normalization
> - Standardize features so theyâ€™re on a similar scale.  
>   ```python
>   from sklearn.preprocessing import StandardScaler
>   scaler = StandardScaler()
>   X_scaled = scaler.fit_transform(df.drop('target', axis=1))
>   ```
>   ðŸ§  *Prevents large-scale features (like cholesterol) from dominating small ones.*
>
> ---
>
> #### 7ï¸âƒ£ Encode Categorical Features
> - Columns like `cp`, `thal`, and `slope` represent categories, not numeric values.  
>   ```python
>   df = pd.get_dummies(df, columns=['cp', 'thal', 'slope'], drop_first=True)
>   ```
>   ðŸ§  *One-hot encoding helps algorithms correctly interpret these features.*
>
> ---
>
> #### 8ï¸âƒ£ Final Sanity Checks
> ```python
> df.info()
> df.isnull().sum()
> df.head()
> ```
> ðŸ§  *Confirm:*
> - No missing values  
> - Correct data types  
> - Logical column outputs  
>
> ---
>
> âœ… **After this step:**  
> The dataset will be fully cleaned, numeric, and ready for **EDA** (Exploratory Data Analysis) and **Model Building**.

>
> âœ… **Summary**
> Weâ€™ll use the **Cleveland Heart Disease dataset**, clean the missing values, add headers, and then proceed with exploratory analysis and prediction modeling.

In [4]:
#Import required libraries
import pandas as pd
import numpy as np

#defining column names
cols = [
    'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs',
    'restecg', 'thalach', 'exang', 'oldpeak', 'slope',
    'ca', 'thal', 'target'
]

df = pd.read_csv("data/processed.cleveland.data", names=cols, na_values='?')

# Preview first few rows
print("Dataset loaded successfully!")
print(df.shape)
df.head()

âœ… Dataset loaded successfully!
(303, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [10]:
# cleaning the data

print("missing values before cleaning:")
print(df.isnull().sum())


#dropping rows with missing values for simplicity
df = df.dropna()

#converting all columns to numeric data types
df = df.apply(pd.to_numeric)

print("\ndata types after conversion:")
print(df.dtypes)

missing values before cleaning:
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

data types after conversion:
age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target        int64
dtype: object

In [12]:
# simplifying target column (binary classification)
# original: 0 = no disease, 1-4 = presence of disease
df['target'] = df['target'].apply(lambda x: 1 if x > 0 else 0)

print("\nvalue counts for target column:")
print(df['target'].value_counts())

value counts for target column:
target
0    160
1    137
Name: count, dtype: int64

In [14]:
# removing dups and basic sanity checks

df = df.drop_duplicates()

#verify
print("\nafter removing duplicates:")
print(df.shape)

#quick summary
print("\nsummary statistics:")
print(df.describe())

after removing duplicates:
(297, 14)

summary statistics:
              age         sex          cp    trestbps        chol         fbs  \
count  297.000000  297.000000  297.000000  297.000000  297.000000  297.000000
mean    54.542088    0.676768    3.158249  131.693603  247.350168    0.144781
std      9.049736    0.468500    0.964859   17.762806   51.997583    0.352474
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     56.000000    1.000000    3.000000  130.000000  243.000000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  276.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  297.000000  297.000000  297.000000  297.000000  297.000000  297.000000
mean     0.996633  149.599327    0.326599    1.055556    1.602694    0.676768
std      0.994914   22.941562    0.469761    1.166123    0.618187    0.938965
min      0.000000   71.000000    0.000000    0.000000    1.000000    0.000000
25%      0.000000  133.000000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    2.000000    0.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000    3.000000

             thal      target
count  297.000000  297.000000
mean     4.730640    0.461279
std      1.938629    0.499340
min      3.000000    0.000000
25%      3.000000    0.000000
50%      3.000000    0.000000
75%      7.000000    1.000000
max      7.000000    1.000000

In [15]:
#final check - were getting ready for EDA or modeling

print("\nfinal dataset info:")
df.info

print("\nmissing values after cleaning:")
print(df.isnull().sum())

print("\ndata cleaning is complete. ready for eda or modeling")

final dataset info:

missing values after cleaning:
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

data cleaning is complete. ready for eda or modeling